/************ Navbar CSS ************/

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  background-color: #000000;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #000000;
}

nav.navbar a.navbar-brand {
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-right: 70px;
  font-size: 50px;
  font-weight: 300;
  text-shadow: 0px 0px 1.5px #FFFFFF;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #FFFFFF !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.7;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: #FFFFFF;
}

nav.navbar .navbar-nav .nav-link.dropdown-toggle {
  font-weight: 400;
  color: #FFFFFF !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.7;
}

nav.navbar .navbar-nav .dropdown-menu .dropdown-item {
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.8px;
  font-size: 18px;
  opacity: 0.7;
  padding: 10px 20px;
}

nav.navbar .navbar-nav .nav-link.dropdown-toggle:hover {
  opacity: 1;
  color: #FFFFFF;
}

nav.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #e9ecef;
  color: #000000;
  opacity: 1;
}

nav.navbar .navbar-nav .nav-link.dropdown-toggle.active {
  opacity: 1;
  color: #FFFFFF;
}

nav.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  background-color: #f8f9fa;
  color: #000000;
  opacity: 1;
}

.custom-btn button {
  font-weight: 700;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  letter-spacing: 1px;
  white-space: nowrap; 
}

.custom-btn button span {
  z-index: 1;
}

.custom-btn button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.custom-btn button:hover {
  color: #000000;
}

.custom-btn button:hover::before {
  width: 100%;
  height: 100%;
}

.toggle {
  background-color: #FFFFFF !important;
}

.about-btn {
  border: none !important;
  color: #000000 !important;
  background-color: #FFFFFF;
}

/************ Banner Css ************/

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 70px;
  background-image: url('/img/bg4.jpg');
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.banner-container .banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center; 
}

.banner-container .banner-content .banner-heading {
  font-size: 50px;
  font-weight: 700; 
  color: #ffffff;
  text-shadow: 2px 2px 4px black;
}

.banner-container .banner-content .banner-desc {
  margin: 10px 20px;
  padding: 10px 20px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 4px black;
}

.banner-container .banner-content .banner-btn button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff; 
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: #000;
  letter-spacing: 1px;
}

.banner-container .image-alt {
  width: auto;
  height: 600px;
  margin-top: 30px;
}

/************ Services Css ************/

.services-section {
  position: relative;
  width: 100%;
  padding: 80px 10vw;
  color: #fff;
  text-align: center;
}
.section-container{
  position: relative;
  width: 100%;
  display: grid;
  grid-gap: 20px;
}
.card{
  width: 100%;
  height: 100%;
  background-color: #000;
}
.card-img-top{
  width: 30%;
  height: auto;
  text-align: center;
}
.card-body{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  color: #fff;
}

.card-title{
  padding: 10px;
  font-size: 30px;
  letter-spacing: 1.2px;
}

.card-text{
  padding: 5px;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.services-section img {
  max-width: 100%;
  height: auto;
}



/************ Explore Css ************/

.explore-section{
  position: relative;
  width: 100%;
  padding: 0px 10vw;
  color: #fff;
}

.desc-para{
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  letter-spacing: 2.0px;
}


.section-para{
  width: 50%;
  min-width: 300px;
  display: block;
  margin: 30px auto;
  text-align: center;
  line-height: 25px;
  opacity: 0.8;
}

.tours-container{
  position: relative;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 100px;
}

.tour-card{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: end;
}

.tour-card:nth-child(2){
  grid-row: span 2;  /* For vertical layout image*/
}

.tour-card:last-child{
  grid-column: span 2;  /* For horizontal layout image*/
}

.tour-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
  z-index: -1;
}

.tour-card:hover .tour-img{
  opacity: 0.8;
  transform: scale(1.1);
}

.tour-name{
  font-weight: 300;
}


/************ Meals Css ************/

.meals-container{
  margin-top: 80px;
  margin-bottom: 30px;
}

.meals-container .card {
  margin: 10px 20px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #000000;
  max-width: 600px;
  margin: auto 1rem;
  text-align: center;
  box-shadow: 0 0 10px #fff;
  transition: transform 0.3s ease;
}

.meals-container .card:hover {
  transform: translateY(-10px);
}

.meals-container .card .meals-image {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.meals-container .card .meals-title {
  padding: 10px;
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0.75;
  letter-spacing: 1.5px;
}

.meals-container .card .meals-text {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}

.meals-container .card .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.meals-container .card .meals-price {
  padding: 10px;
  font-size: 25px;
  color: #FFFFFF;
}

.meals-container .card .meals-offer {
  padding: 10px;
  font-size: 30px;
  color: #B67352;
  font-weight: 500;
}

.meals-container .card .cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.meals-container .card .cart-container .meals-button {
  font-size: 20px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #373A40;
  padding: 10px 20px;
  font-weight: 500;
  margin: 10px 10px;
  letter-spacing: 1px;
}

/************ Rooms Css ************/

.rooms-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-top: 60px;
}

.rooms-container .room-title{
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2.0px;
  opacity: 0.75;
  text-shadow: 1px 1px 2px #fff;
}

.rooms-container .lead{
  letter-spacing: 1.5px;
  line-height: 1.75;
}

.rooms-container .rent{
  margin-top: 10px;
  font-size: 25px;
}

.rooms-container .availability{
  font-size: 20px;
  margin-top: 10px;
}


/************ Footer Css ************/

.footer-section {
  background-image: url('img/bg4.jpg');
  background-size: cover;
  color: #fff;
  padding: 100px 0;
}

.footer-section h3 {
  margin-bottom: 50px;
}

.input {
  position: relative;
  margin-bottom: 30px;
  display: block;
}
.input input {
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  outline: none;
}

.btn-transparent-white {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.btn-transparent-white:hover {
  background-color: #fff;
  color: #000;
}


/************ The End 🥲️ ************/